<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
      <h1>Richard Ross</h1>
      <p>I'm a <span class="typed"></span></p>
  </div>
</section>
<!-- End Hero -->

<!-- Add Typed.js -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  var typed = new Typed('.typed', {
    strings: ["DEVELOPER", "DESIGNER", "PROBLEM SOLVER"], // Add as many as you want
    typeSpeed: 80,
    backSpeed: 50,
    loop: true
  });
});
</script>
