<main id="main">

    <div class="container">
        <div id="gmdemo"></div>
        <script type="text/javascript">
            startGame('gmdemo');
        </script>
        <br>

        <p>Click to start a heroku deploy of basic html aim trainer built in html, css, javascript.</p>
        <button><a href="https://aimer-game.herokuapp.com/">AIM TRAINER</a></button>
        <br>
        <p>I will always be a gamer at heart. It is one of the main reason I become a programmer.</p>
        <p>As a kid my biggest fascination was never just playing and having fun, which was fun, but the gameplay.</p>
        <p>More how the game plays, how the movement work, how ememy knew what to do at a given time or how elements reacted to collisions.</p>
        <p>After becoming a programmer this curiosity never really ended but become my greatest gift and with a real love for programming, these two have worked hand-in-hand.</p>
        <p>Im still on the journey to creating my own game someday, my first plan to is obtain a really good computer.</p>
        <p>But until then i will CONTINUE? (Y/N) with programming and learning.</p>
    </div>
</main>