<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="../assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a>Richard Ross</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://twitter.com/RichRoss18" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100004647336596" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/ricross1800/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/richard-ross-71a4b3217/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/RichardMarkRoss" target="_blank" class="linkedin"><i class="bx bxl-github"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a routerLink="" routerLinkActive="active" href="" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a routerLink="/about" routerLinkActive="active" href="about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a routerLink="/resume" routerLinkActive="active" href="resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                <li><a routerLink="/hero" routerLinkActive="active" href="hero" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
                <li><a routerLink="/game" routerLinkActive="active" href="game" class="nav-link scrollto"><i class="bx bx-game"></i> <span>Game</span></a></li>
                <li><a routerLink="/geo" routerLinkActive="active" href="geo" class="nav-link scrollto"><i class="bx bx-game"></i> <span>Test</span></a></li>
                <li><a href="https://drive.google.com/file/d/1tyWNmOq45BKWdVjwRjGOcruZfbEp9qHk/view" target="_blank" class="nav-link scrollto"><i class="bx bxl-google-cloud" download></i> <span>Download CV</span></a></li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
