<main id="main">
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Sumary</h3>
                    <div class="resume-item pb-0">
                        <h4>Richard Ross</h4>
                        <p><em>Full Stack Developer</em></p>
                        <ul>
                            <li>14 Street, Noordwyk, Midrand 1687</li>
                            <li>+27 81 314 8121</li>
                            <li>richross707@gmail.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>National Certificate in Information Technology</h4>
                        <h5>2018 - 2020</h5>
                        <p><em>Cape Town</em></p>
                        <p>(Software/Systems Development)
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Project CodeX / FullStack Agile Development</h4>
                        <h5>2018 - 2019</h5>
                        <p><em>Cape Town</em></p>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Accenture</h4>
                        <h5>2020 - 2021</h5>
                        <p><em>Centurion & Midrand</em></p>
                        <ul>
                            <li>AlphaPharm Project I got to understand Oracle Cloud System Integration. I had the privilege of understanding the role of the delivery Lead on the Project and helping the lead of the Finance Stream on the project. </li>
                            <li>Astron energy project I had been using ABAP CDS which main focus was the Data models for the backend of their project. I had the privilege of using and understanding SAP functionality.</li>

                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>SAC Trucks</h4>
                        <h5>2021 - current</h5>
                        <p><em>Web and Flutter Developer</em></p>
                        <ul>
                            <li>I help create, maintain and document web application for employees of the company</li>
                            <li>using a API to collect data from tecfinity</li>
                            <li>Designing and creating mobile apps with Flutter</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Resume Section -->
</main>